body{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  color: aliceblue;
  --s: 37px; /* control the size */

  --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}


.pai{
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: solid 0.7px;
  border-color: aliceblue;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  margin-bottom: 2px;

}

.noticias{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid 0.7px;
  border-color: aliceblue;
  padding-top: 30px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  padding-bottom: 10px;
}

.tank{
  width: 445px;
  height: 300px;
}

.vcc{
  width: 250px;
  height: 200px;
}

.jorge{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;  
}

.jorge2{
  width: 100%;
  height: 70%;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center; 
}

.jorge3{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;  
  border-color: aliceblue;
}

.noticia1{
  width: 20%;
}

.noticia3{
  width: 20%;
  padding-left: 50px;
  border: solid 0.5px;
  border-color: aliceblue;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.douglas , .da{
  width: 30%;
  display: flex;
  flex-direction: row;
}

.iconpesq{
  width: 18px;
  height: 18px;
  display: flex;
  flex-direction: row;
}

.douglass{
  width: 30%;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.douglas1{
  height: 30%;
  display: flex;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.douglas2{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.mininot2{
  border: solid 0.5px;
  border-color: aliceblue;
  border-right: 0px;
  border-left: 0px;

}

.mininot , .mininot2 , .mininot3 :hover{
  cursor: pointer;
}

h2 , h4{
  text-decoration: none;
}

.h44{
  font-weight: bold;
}

.butao{
  background-color: #567B95;
  text-align: center;
  color: white;
  font-weight: bold;
}

.bootao{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center; 
  text-align: center;
  border: none;
  background-color: #ffff;
}

.bootao:hover{
  cursor: pointer;
}

.pedro{
  font-size: 10px;
  margin: 2px;
  margin-right: 5px;
}

.pedro2{
  font-size: 10px;
  margin: 2px;
  margin-right: 5px;
  font-weight: bold;
}

.jorginho{
  margin-left: 15px;
  color: aliceblue;
}

.jorginho:hover{
  cursor: pointer;
}

.TNYT{
  width: 450px;
  height: 450px;
}

.TNYT:hover{
  cursor: text;
}
aside {
  display: none;
  transition: 0.5s ease-in-out;
  width: 0px;
  height: 120vh;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;

}

.as{
  width: 30px;
  height: 30px;
  background: none;
  border: none;

}
.da{
  display: none;
}
.per{
  display: none;
}
.noticia3re{
  display: none;
}
.escod{
  display: none;
}
.as{
  display: none;
}
.pess{
  display: none;
}
.tatu {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#sidebar {
  height: 100%;
  width: 250px; /* Defina a largura inicial do menu lateral */
  position: fixed;
  top: 0;
  left: -250px; /* Esconda o menu lateral */
  background-color: #3800d3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-image: radial-gradient(black 55%, #0000),
  /* radial-gradient(black 55%, #0000), */
    linear-gradient(
      135deg,
      red,
      orange,
      yellow,
      lime,
      cyan,
      blue,
      indigo,
      deeppink
    );
background-size: 100% 0.5%, contain;
/* background-blend-mode: hard-light; */
/* background-position: 0 0, 1em 1em, 0 0; */
}

#sidebar.active {
  left: 0; /* Mostra o menu lateral quando a classe .active é adicionada */
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  padding: 10px;
  text-align: center;
}

#sidebar ul li a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

#sidebar ul li a:hover {
  background-color: #555;
}

#toggleButton {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  background-color: #4a0eaa; /* Cor do botão */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  
  
}
.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #7c09db;
  justify-content: center;
  border-radius: 10px;
  transition: 1s;
  padding: 10px;
  overflow: hidden;
  color: aliceblue;
}

.value {
  font-size: 15px;
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: 1s;
  box-sizing: border-box;
}

.value:not(:active):hover,
.value:focus {
  display: flex;
  box-sizing: border-box;
  border: 2px solid #1a1f24;
  color: #637185;
}

.value:focus,
.value:active {
  background-color: #1a1f24;
  outline: none;
  margin-left: 17px;
}

.value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -15px;
  width: 5px;
  height: 80%;
  background-color: #2f81f7;
  border-radius: 5px;
  opacity: 0;
  transition: 1s;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

.value svg {
  width: 20px;
}

.input:hover > :not(.value:hover) {
  transition: 300ms;
  filter: blur(1.5px);
  transform: scale(0.95, 0.95);
}

.value a{
  color: aliceblue !important;
}

@media screen and (max-width: 414px){
  .escod, .as, .pess{
      display: block;
  }
  aside{
      display: block;
      }
  .butao, .douglas, .jorge3 {
      display: none;
  }
  body{
      overflow-x: hidden ;
  }
  .pai{
      width: 100vw;
      height: 100px;
  }
  .da{
      display: block;
      display: flex;
      flex-direction: row;
      width: 100vw;
      justify-content: space-between;
      
  }
  .da p{
      font-size: 12px;
  }
  #da{
      align-items: center;
      height: 30px;
      background-color: lightgrey;

  }
  .jorge2{
      top: 0px;
      background-color: white;
      margin-right: -25px;
      display: flex;
      flex-direction: column;
      height: 50px;
      width: 100vw;
      position: fixed;
  }
  .jorge, .mininot3{
      display: none;
  }
  .douglas2 img{
      height: 30px;
      width: 270px;
  }
  #seve{
      color: rgb(112, 169, 189);
      width: 150px;
  }
  .aaa{
      display: flex;
      flex-direction: row;

  }
  .pai, .noticia3{
      border-bottom: none;
      border-left: none;
  }
  .noticias{
      border-top: none;
      flex-direction: column;
      width: 100%;
  }
  .noticia1{
      width: 100vw;
  }
  .noticias{
      padding-top: 0px;
      margin-top: -40px;
  }
  .noticia3{
      display: none;
  }
  .noticia3re{
      display: block;
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 650px;
      padding-top: 25px;
      padding-left: -250px;
      align-items: center;
  }
  .noticia3re .mininot{
      margin-left: -40px;
  }
  .as img{
      /* padding-top: 5px; */
      height: 30px;
      width: 30px;
  }
  h3, h4, h2{
      width: 375px;
  }
  .noticia2{
      padding-bottom: 25px;
      border-bottom: 2px black solid;
  }
  .noticia2 img{
      display: flex;
      align-items: center;
      width: 390px;
  }
  .per{
      
      display: block;
      height: 30px;
      width: 30px;
      right: 10px;
  }
  .escod{
      
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow-x: hidden;
      justify-content: space-evenly;

  }
  .pess{
      align-self: center;
      display: flex;
      flex-direction: row;
      padding: -25px;
      height: 35px;
      margin-bottom: 30px;
  }
  .pess button{
      margin-left: 10px;
      width: 41px;
      height: 41px;
      border-radius: 5px;
      border: none;
      color: white;
      background-color: rgb(86, 123, 149);
  }
  
  .pess input{
      border: 1px solid;
      border-radius: 5px;
      width: 319px;
      height: 35px;
  }
  .jorginho{
      padding: -25px;
      border-bottom: 1px solid gray;
      width: 100vw;
  }
  .jorginho b{
      font-size: 30px;
  }
  .escod p{
      align-self: flex-end;
      margin-right: 30px;
      font-size: 30px;
  }
}