body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

section {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
}

/* Tema escuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }
    section {
        background-color: #444;
        border-color: #555;
    }
    a {
        color: #fff;
    }
    a:hover {
        color: #ccc;
    }
}
.foto-perfil{
    height: 200px;
}
